.center {
    text-align: center;
}

td {
    text-align: center;
}

.timeTableDay {
    background-color: #DBEFF0;
}

.basicStats {
    background-color: #FD6F6E;

}

.lHJ {
    background-color: #FEFA09;
}

.kHO {
    background-color: #FFC000;
}

.poli {
    background-color: #FFCCCB;
}

.pSK {
    background-color: #01B0F1;
}

.lHS {
    background-color: #00B052;
}

.club {
    background-color: #E2EFDB;
}

.project {
    background-color: #FFF2CE;
}

@media screen and (min-width:960px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "header header header"
            "menu menu menu"
            "introduction study myTeam"
        ;
        grid-template-rows: 10% 10% auto;
        grid-template-columns: 30% 50% 20%;
    }
}

@media screen and (min-width:641px) and (max-width:959px){
    .grid-container {
        display: grid;
        grid-template-areas:
            "header header"
            "menu menu"
            "introduction introduction"
            "study myTeam"
        ;
        grid-template-rows: 10% 10% auto auto;
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width:640px){
    .grid-container {
        display: grid;
        grid-template-areas:
            "header"
            "menu"
            "introduction"
            "study"
            "myTeam"
        ;
        grid-template-rows: 10% 10% auto auto auto;
        grid-template-columns: 100%;
    }
}


header {
    grid-area: header;
    /* background-color: #c9f0ff; */
}

menu {
    grid-area: menu;
    /* background-color: #1844E3; */
}

introduction {
    grid-area: introduction;
    /* background-color: #143CDB; */
}

study {
    grid-area: study;
    /* background-color: #2418A5; */
}

myTeam {
    grid-area: myTeam;
}

body {
    /* background-color: #2F1D59; */
}

.delSpot {
    list-style-type: none;
}

.flex-space-around{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.link {
    display: block;
    border: 1px solid;
    text-decoration: none; /* 링크의 밑줄을 제거 */
    padding: 1rem; /* 상하좌우 패딩을 통해 요소 사이의 간격을 조정 */
    margin: 1rem;
    text-align: center; /* 텍스트를 중앙 정렬 */
    color: black;
}